<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts :: header}"></head>
<body>
<nav th:replace="~{layouts :: navbar}"></nav>
<di th:replace="~{layouts :: second-navbar}"></di>


<div class="scrollable-table">
<h2>In-processing  Links</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Checklist Name</th>
    <th scope="col">Link</th>
    <th scope="col">POC</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Medical Onboarding</td>
    <td><a>some file location</a></td>
    <td>CPT Snuffy</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Barracks Onboarding</td>
    <td><a>someLinkTwo</a></td>
    <td>SSG Sleepy</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Barracks Onboarding</td>
    <td><a>someLinkTwo</a></td>
    <td>SSG Sleepy</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Barracks Onboarding</td>
    <td><a>someLinkTwo</a></td>
    <td>SSG Sleepy</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Barracks Onboarding</td>
    <td><a>someLinkTwo</a></td>
    <td>SSG Sleepy</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Barracks Onboarding</td>
    <td><a>someLinkTwo</a></td>
    <td>SSG Sleepy</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Barracks Onboarding</td>
    <td><a>someLinkTwo</a></td>
    <td>SSG Sleepy</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Barracks Onboarding</td>
    <td><a>someLinkTwo</a></td>
    <td>SSG Sleepy</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Barracks Onboarding</td>
    <td><a>someLinkTwo</a></td>
    <td>SSG Sleepy</td>
  </tr>
  </tbody>
</table>
</div>

<hr>

<div class="scrollable-table">
<h2>Out-processing  Links</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Checklist Name</th>
    <th scope="col">Link</th>
    <th scope="col">POC</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Medical Onboarding</td>
    <td><a>some file location</a></td>
    <td>CPT Snuffy</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Barracks Onboarding</td>
    <td><a>someLinkTwo</a></td>
    <td>SSG Sleepy</td>
  </tr>
  </tbody>
</table>
</div>

<hr>

<div class="scrollable-table">
<h2>Leave Links</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Checklist Name</th>
    <th scope="col">Link</th>
    <th scope="col">POC</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Medical Onboarding</td>
    <td><a>some file location</a></td>
    <td>CPT Snuffy</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Barracks Onboarding</td>
    <td><a>someLinkTwo</a></td>
    <td>SSG Sleepy</td>
  </tr>
  </tbody>
</table>
</div>








<div th:replace="~{layouts :: scripts}"></div>
</body>
</html>